@import './normalize', './helpers', './palette', './typography',
  './variables.scss';

html {
  height: -webkit-fill-available;
}

html,
body {
  display: block;
  font-size: $base-font-size;
  @include SFProMedium;

  min-height: 100vh;
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(16px);
  @include SFProMedium;
  margin-bottom: rem(20px);
}

h2 {
  font-size: rem(14px);
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.grey {
  color: #ccc;
}

a {
  text-decoration: none;
}

hr.hr {
  margin: rem(20px -20px 20px);
}

.hide {
  display: none;
}

.pt {
  &-0 {
    padding-top: 0;
  }

  &-5 {
    padding-top: 5px;
  }
}

.mr {
  &-20 {
    margin-right: rem(20px);
  }
}

.mb {
  &-5 {
    margin-bottom: rem(5px);
  }

  &-10 {
    margin-bottom: rem(10px);
  }

  &-15 {
    margin-bottom: rem(15px);
  }

  &-20 {
    margin-bottom: rem(20px);
  }

  &-25 {
    margin-bottom: rem(25px);
  }

  &-30 {
    margin-bottom: rem(30px);
  }

  &-35 {
    margin-bottom: rem(35px);
  }
}

.mt {
  &-20 {
    margin-top: rem(20px);
  }
}

a {
  color: $textPrimary;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.color-black {
  color: black;
}

.underline {
  border-bottom: 1px solid;
}
