$blackPrimary: #444444;
$secondaryBlack: #222222;
$primaryBlue: #4868db;
$border: #dddddd;
$textPrimary: #717171;
$textSecondary: #aeaeae;
$textGrey: #a0a0a0;
$backgroundFooter: #f4f4f4;
$twitterHover: #1da1f2;
$facebookHover: #4267b2;
$linkedinHover: #0e76a8;
$instagramHover: #dc2743;
$githubHover: #211f1f;
