@import '../../styles/typography.scss', '../../styles/palette.scss',
  '../../styles/helpers.scss';

.login {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__items {
    width: 400px;
    text-align: center;

    &__title {
      color: $blackPrimary;
      @include SFProBold;
      font-size: rem(40px);
      margin-bottom: 50px;
    }

    &__input {
      margin-bottom: 10px;
    }
  }
}
